.font-64 { font-size: clamp(32px, 5vw, 64px); }  /* Max: 64px */
.font-16 { font-size: clamp(12px, 1vw, 16px); }  /* Max: 16px */
.font-48 { font-size: clamp(30px, 4vw, 48px); }  /* Max: 48px */
.font-20 { font-size: clamp(14px, 1.5vw, 20px); }  /* Max: 20px */
.font-24 { font-size: clamp(14px, 6.5vw, 24px); }  
.font-40 { font-size: clamp(20px, 3vw, 40px); }  /* Max: 40px */
.font-12 { font-size: clamp(10px, 0.8vw, 12px); }  /* Max: 12px */

.text-black{
    color: black;
  }
body{
    background-color: #eeeeee;
}
  .text-white {
    color: white;
  }
  
  .bg-black {
    background-color: black;
  }
  .font-weight-thin {
    font-weight: 100;
  }
  
  .font-weight-light {
    font-weight: 300;
  }
  
  .font-weight-regular {
    font-weight: 400;
  }
  
  .font-weight-medium {
    font-weight: 500;
  }
  
  .font-weight-semibold {
    font-weight: 600;
  }
  
  .font-weight-bold {
    font-weight: 700;
  }
  
  .font-weight-extrabold {
    font-weight: 800;
  }
  
  .font-weight-black {
    font-weight: 900;
  }
  
    /* font style */
    .font-style {
        font-family: Poppins;
      }
      
      /* font  */
      .text-uppercase {
        text-transform: uppercase;
      }
      
      .text-lowercase {
        text-transform: lowercase;
      }
      
      .text-capitalize {
        text-transform: capitalize;
      }
      
      /* text align */
      .text-left {
        text-align: left;
      }
      
      .text-center {
        text-align: center;
      }
      
      .text-right {
        text-align: right;
      }
      
      .text-justify {
        text-align: justify;
      }
  
       
  /* text decoration  */
  .text-decor-none {
    text-decoration: none;
  }

  .container-fluid{
    margin: 0px;
    padding: 0px;
  }
  .container {
    max-width: 1300px !important;
  }
  section{
    margin-top: 6%;
  }
  .nav-container{
    max-width: 1300px !important;
  }

  .responsive-img {
    width: 100%;
    height: 100%; /* Ensures it fills the container */
    object-fit: cover; /* Crops the image to cover the container */
    display: block;
  }


  swiper-container {
    margin-top: 5%;
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
  
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    max-width: 370px;
     height: 100%;
    object-fit: cover;
  }
  swiper-pagination-bullet{
    display: none;
  }

  .bi-envelope-open-fill,.bi-telephone-fill{
    background-color: white;
    margin-bottom: 20px;
    color: black;
    border-radius: 40px;
    text-align: center;
    width: 30px;
  }
  .dropdowm-menu{
    position: absolute;
    left: 10%;
  }